############################################
# Visual Studio
############################################

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

############################################
# Build-Ergebnisse
############################################

[Bb]in/
[Oo]bj/

############################################
# NuGet
############################################

packages/
*.nupkg
*.snupkg

############################################
# Logs & temporäre Dateien
############################################

*.log
*.tmp
*.temp

############################################
# Windows
############################################

Thumbs.db
Desktop.ini

############################################
# Rider / andere IDEs (schadet nicht)
############################################

.idea/
*.iml

############################################
# Publish / Output
############################################

publish/
